h1 {
    box-shadow: #000 10px 10px 0;
  }
  
  /* También se puede escrbir de esta forma*/
  
  h2 {
    box-shadow: 10px 10px 5px #000;
    box-shadow: #000 -10px -10px 5px;
  }

  /*border radius*/
  h2 {
    border-radius: 5px 10px 15px 20px inset;
  }

  /*Color*/
h2{
    background: red;
    background: #FF0000;
    background: rgb(255, 0, 0);/*rojo verde azul*/
    background: hsl(0, 100%, 50%);/*saturacion */
    background: rgba(255, 0, 0, 0.2);/*transparencia*/
}
  
/*transformacion*/
h1 {
    transform: rotate(45deg) translateX(10px) translateY(20px) skew(8deg);
  }

/*Gradietes*/
h1 {
    background: -moz-linear-gradient(top, #000000 0%, #ff0000 50%, #ffffff 100%); /* FF 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#ff0000), color-stop(100%,#ffffff)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #000000 0%, #ff0000 50%, #ffffff 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #000000 0%, #ff0000 50%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%, #ff0000 50%, #ffffff 100%); /* IE 10+ */
    background: linear-gradient(to bottom, #000000 0%, #ff0000 50%, #ffffff 100%); /* Código estándar W3C */
  }
/* que numero de hijo quiero dise;ar */
  p:nth-child(3) {
    font-size: 1.5em;
    color: #444;
    font-weight: ;
    line-height: ;
    width: ;
    min-height:; 
    z-index: ;
  }
/* que numro de elemento particular */
li:nth-of-type(3) {
    color: #f00;
  }

/* primera linea de un elemento, aca el parrafo */
p:first-line {
    font-size: 1.3em;
  }

  /* primera letra del elemento */
  p:first-letter {
    font-size: 2em;
    color: #f00;
  }

  /* niega el elemto que no quiero cabiar */
  div:not(.contenedor) {
    font-size: 2em;
    color: #f00;
  }

  /* disenar elemento que este vacio */
  div:empty {
    background-color: #000;
  }

  /* agregar guion al principio y al final*/
  h1:before {
    content: "- ";
    color: #888;
  }

  h1::after {
    content: " -";
    color: #888;
  }